[tox]
requires =
    tox>4
    virtualenv>20.2
env_list =
    build

[testenv:build]
description = Build package
deps =
    nasdaq-protocols
    build
allowlist_externals =
{{#apps}}
    nasdaq-{{proto_name}}-codegen
{{/apps}}
commands =
{{#apps}}
    nasdaq-{{proto_name}}-codegen --spec-file=src/{{project_src_name}}/{{app_name}}/{{app_name}}.xml --app-name={{app_name}} --op-dir=src/{{project_src_name}}/{{app_name}} --init-file
{{/apps}}
    python -m build
