from nasdaq_protocols import fix


{{#fields}}
class {{name}}(fix.Field, Tag="{{tag}}", Name="{{name}}", Type=fix.{{type}}):
    Values = {
{{#values}}
        {{#quote}}'{{/quote}}{{f_name}}{{#quote}}'{{/quote}}: '{{f_value}}',
{{/values}}
    }
{{#values}}
    {{f_value}} = {{#quote}}'{{/quote}}{{f_name}}{{#quote}}'{{/quote}}
{{/values}}


{{/fields}}

